<p>
  <b>Ts:</b>
  <%=h @artifact_note.ts %>
</p>

<p>
  <b>Note:</b>
  <%=h @artifact_note.note %>
</p>


<%= link_to 'Edit', edit_artifact_note_path(@artifact_note) %> |
<%= link_to 'Back', artifact_notes_path %>